<% include ./partials/header %>

<h1>Blog Page</h1>

<% blogs.forEach( function(element, index) { %>
    <div class="col-md-4 col-sm-6">
        <figure class="figure">
            <a href="/blog/<%=element._id%>">
                <img src="<%= element.image%>" class="figure-img img-fluid">
            </a>
            <h1 class="figure-caption text-center"><%= element.title %></h1>
        </figure>
        <p><%= element.body %></p>
    </div>
<% }) %>

<% include ./partials/footer %>